:root {
  --color-texto-primario: black;
  --color-texto-secundario: #333;
  --color-texto-terciario: white;
  --color-primario: white;
  --color-secundario: black;
  --color-terciario: #f8f8f8;
  --color-bordes: darkgray;
  --color-sombras: rgba(125, 150, 144, .5);
  --color-texto-requisitos: #b9b9b9;
  --color-fondo-imagenes: #e6e6e6; /*Solo se coloca para futuras referencias*/
}

/*------------------------------------------------------- RESET BÁSICO----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* ---------------------------------------------------------NORMALIZE --------------------------------------------------------------*/
body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  color: var(--color-texto-secundario);
  background-color: var(--color-primario);
  margin: 0px;
  padding: 0px;
}
/* ---------------------------------------ESTILOS A HEREDAR A LOS TEXTOS ETIQUETAS PRINCIPALES------------------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  padding: .2rem 9%;
  gap: 1rem;
  background-color: var(--color-primario);
  z-index: 1000;
  box-shadow: 0 0rem 1.5rem var(--color-sombras);
  /*Da sombra a la barra*/
}

main {
  padding: 1rem 9%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: auto;
  box-shadow: 0rem 0rem 1.5rem var(--color-sombras);

}

section {
  display: block;
  padding: 2rem 3%;
  margin: 1rem 2%;

}

h2 {
  font-size: 2rem;
}

hr {
  border: none;
  height: 2px;
  width: 200px;
  margin: 1em 0;
  background: linear-gradient(to right, black, gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: var(--color-texto-secundario);
}

a:hover {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  color: var(--color-texto-primario);
}
/*-------------------------------------- DISEÑO FOOTER Y HEADER ----------------------------------------------------------------*/
/* Header section */

.logo img {
  width: 15rem;
  padding: 0rem 1rem;
}

.menu_navegacion {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: var(--color-primario);
}

.menu_navegacion li {
  margin: .2rem;
}

.menu_navegacion a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 1rem;
  color: var(--color-texto-primario);
}

.menu_navegacion a:hover {
  transition: background-color 0.3s ease;
}

/*Footer section */
.informacion {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.subtitulo_footer {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.nosotros {
  width: 30rem;
  text-align: center;
  padding: 0 0;
}

.siguenos {
  width: 30rem;
  text-align: center;
  padding: 0 0;
}

.enlaces_redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .5rem;
}

.boton_redsocial {
  border: 1px solid var(--color-bordes);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.nosotros p {
  margin: 1rem 0;
}

.derechos {
  margin: 1rem 0;
  padding: 1rem 0;
}

/* -----------------------------------------DISEÑO index.html-------------------------------------------------------------------*/
/* Seccion de hero, carrusel de imagenes*/
/* Se cargo un carrusel de bootstrap estas son lineas de codigo que se agregaron */
.carrusel {
  margin: 0;
  padding: 0;
}

.d-item {
  width: 100%;
}

.d-img {
  width: 100%;
  object-fit: cover;
}

/* Seccion de Productos*/
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.productos_descripcion {
  width: 20rem;
  flex-grow: 2;
}

.productos_imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.descripcion_texto {
  text-align: justify;
}

.boton {
  display: inline-block;
  margin: .5rem auto;
  padding: .5rem;
  box-shadow: inset 0 0 0 1px var(--color-bordes);
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  min-width: 9.25rem;
  line-height: 1.75rem;
}

.productos_imagen img {
  border-radius: 100%;
  padding: .65rem;
  border: solid 1px var(--color-bordes);
  width: 12rem;
}

/* Sección de sucursales */
.lista_sucursales {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

.item_sucursal {
  width: 25rem;
}

.lugar {
  text-align: center;
  padding: .7rem;
}

.lista_datos_sucursales {
  list-style: none;
  padding-left: 20px;
}

.lista_datos_sucursales li {
  position: relative;
  padding-left: 2rem;
}

.lista_datos_sucursales li::before {
  font-family: "Material Icons";
  font-size: 1.2rem;
  color: var(--color-texto-primario);
  position: absolute;
  left: 0;
  top: 0;
}

.lista_datos_sucursales li:first-child::before {
  content: "location_on";
  /* Ícono para el primer elemento */
}

.lista_datos_sucursales li:nth-child(2)::before {
  content: "call";
  /* Ícono para el segundo elemento */

}

.lista_datos_sucursales li:nth-child(3)::before {
  content: "schedule";
  /* Ícono para el tercer elemento */
}

/* Seccion Haz tu pedido*/
.contenedor_pedidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.tarjeta_pedidos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-secundario);
  border: 1px solid var(--color-bordes);
  text-align: center;
  border-radius: 0.5rem;
  width: 12rem;
  height: 8rem;
  margin: 1rem;
  padding: 1rem;
}

.tarjeta_pedidos span {
  font-size: 2rem;
}

.tarjeta_pedidos:hover {
  transform: scale(1.1);
  border: 2.5px solid var(--color-bordes);
}

.requisitos {
  text-align: center;
  font-style: italic;
  color: var(--color-texto-requisitos);
}


/* -------------------------------------------------DISEÑO formulario.html-----------------------------------------*/
.titulo_pagina {
  background-color: var(--color-secundario);
  color: var(--color-texto-terciario);
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description {
  width: 100%;
}

fieldset {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-bordes);
  border-radius: 1rem;
  width: 100%;
}

legend {
  font-size: 1.2rem;
}

.cliente {
  border-radius: 20px;
  border: solid 1px var(--color-bordes);
  width: 50%;
  padding: .5rem;
  margin: .5rem;
}

label {
  padding: .5rem;
  margin: .5rem;
}

textarea {
  border: 1px solid var(--color-bordes);
  resize: none;
  border-radius: 1rem;
  padding: 1rem;
}

select,
.fecha,
.file {
  margin: 1rem;
  padding: .5rem;
}

.fecha {
  border-radius: 20px;
  border: 1px solid var(--color-bordes)
}

.boton_formulario {
  background-color: var(--color-secundario);
  color: var(--color-texto-terciario);
  border-radius: 20px;
  width: 50%;
  padding: .3rem;
}

/* ------------------------------------------------DISEÑO formulario.html--------------------------------------------------- */
.titulo_pagina_secundario {
  background-color: var(--color-terciario);
  color: var(--color-texto-primario);
  text-align: center;
}

.titulo_pagina_secundario span {
  font-size: 2rem;
  margin: .5rem;
}

.informacion_nosotros {
  text-align: justify;
}

.contenedor_nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.carta_nosotros {
  background-color: var(--color-terciario);
  border: 1px solid var(--color-bordes);
  border-radius: .5rem;
  box-shadow: 0 .2rem .3rem var(--color-sombras);
  width: 20rem;
  padding: 1rem;
  text-align: center;
  transform: translateY(30px);
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}

.carta_nosotros p {
  text-align: justify;
  margin: .5rem;
  padding: .5rem 0;
}

.carta_nosotros h2 {
  margin: 1rem 0;
  padding: .5rem 0;
}

@keyframes slideUp {
  50% {
    transform: translateY(-1.2rem);
    opacity: .5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.carta_nosotros:nth-child(1) {
  animation-delay: 0.2s;
}

.carta_nosotros:nth-child(2) {
  animation-delay: 0.6s;
}

.carta_nosotros:nth-child(3) {
  animation-delay: 1s;
}

/* ----------------------------------------------------DISEÑO menu.html---------------------------------------------------- */
.titulo_pagina_terciario {
  text-transform: uppercase;
  background-color: var(--color-secundario);
  text-align: center;
  color: var(--color-texto-terciario);
  font-weight: lighter;
}

.contenedor_productos {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}

.carta_producto {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--color-bordes);  */
  padding: .6rem;
  border-radius: 1rem;
  overflow: hidden;
}

.carta_producto img {
  max-width: 100%;
  border-radius: 1rem;
}

.carta_producto img:hover {
  transform: scale(1.8);
}

.carta_producto figcaption {
  text-align: center;
}

/*------------------------------DISEÑO salados.html (funcional tambien para dulces.html y pizzas.html)-------------------------*/
.nav_productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem;
}

.categorias {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.categorias li {
  list-style: none;
  text-align: center;
  min-width: 2.5rem;
}

.contenedor {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}

.requisitos2 {
  text-align: justify;
  color: var(--color-texto-requisitos);
  font-style: italic;
}

/*--------------------------DISEÑO bolillo.html (funcional tambien para baguette.html, mantecada.html, etc.)-------------------------*/
.encabezado_secundario {
  background-color: var(--color-terciario);
  text-align: center;
}

.encabezado_secundario h1 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .2rem;
}

.encabezado_secundario a {
  font-size: 1.5rem;
}

.encabezado_secundario span {
  margin: .3rem;
  font-size: 1.8rem;
}

.contenedor_producto_individual {
  display: flex;
  display: wrap;
  gap: 1rem;
  margin: 1rem;
}

.texto_producto_individual {
  display: flex;
  width: 40rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px solid var(--color-bordes);  */
  padding: .6rem;
  border-radius: 1rem;
  overflow: hidden;
}

.texto_producto_individual h2 {
  letter-spacing: .2rem;
}

.texto_producto_individual p {
  text-align: justify;
}

.texto_producto_individual span {
  margin: 1rem 0rem;
  font-size: 1.2rem;
}

/* --------------------------------------------MEDIA QUERIES ZONE--------------------------------------------------------------------- */
@media screen and (max-width:595px) {

  /* modifica la seccion menu de productos en salados dulces y pizzas */
  .nav_productos {
    justify-content: center;
  }
}