:root{
    --color-primario: black;
    --color-background: white;
    --color-acentos: rgba(125, 150, 144, .5);
    --color-bordes: darkgray;
    --color-backgroundSections: aliceblue;
    --color-texto: black;
}
/* Reset básico */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
/* Normalize */
body{
        font-family: "Roboto Condensed", sans-serif;
        line-height: 1.5;
        color: var(--color-primario);
        background-color: var(--color-background);
        margin: 0;
        padding: 16px;
}
section{
    padding: 2rem 9%; 
  }

.boton{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--color-acentos);
  color: var(--color-texto);
  padding:  .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.boton:hover{
  background-color: var(--color-primario);
  color: white;
}


/* Header section */
header {
    position: fixed;
    display: flex; /* Organiza elementos en una línea horizontal */
    justify-content: space-between; /* Distribuye espacio entre logo y menú */
    align-items: center; /* Centra verticalmente los elementos */
    top: 0;
    left: 0;
    right:0;
    padding: .2rem 9%;
    color: white;
    background-color: var(--color-background); 
    z-index: 1000;
    box-shadow: 0 .5rem 1rem var(--color-acentos); /*Da sombra a la barra*/
  }
  
header .logo img{
  width: 15rem; /* Ajusta el tamaño del logo */
}

header .menu_navegacion{
  display: flex;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
}
header .menu_navegacion  li{
  margin: .2rem;
 }
header .menu_navegacion  a{
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  color: var(--color-primario);
}

header .menu_navegacion a:hover {
  font-weight: bold;
  transition: background-color 0.3s ease; /* Suaviza la transición */
}

/* Carrusel section */

section .carrusel{

}






  

  